@model AdminLTE9.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- content -->
<div class="sub-main-w3" style="padding-top:190px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form action="#" method="post">
            <h1 class="text-bold" style="color:antiquewhite; font-family:'Simplified Arabic';">
                فرم ورود همکاران
            </h1>
            <div class="form-style-agile ">
                <h3 style="color:aliceblue">
                    : نام کاربری
                    <i class="glyphicon glyphicon-user" style="color:crimson"></i>
                </h3>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="font-size:large">
                        @Html.EditorFor(model => model.U_Username, new { htmlAttributes = new { @class = "form-control input-lg" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.U_Username, "", new { @class = "text-bold input-lg", style = "color:aliceblue" })
                </div>
            </div>
            <div class="form-style-agile">

                <h3 style="color:aliceblue">
                    : رمز عبور
                    <i class="glyphicon glyphicon-lock" style="color:crimson"></i>
                </h3>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="font-size:large">
                        @Html.EditorFor(model => model.U_Password, new { htmlAttributes = new { @class = "form-control input-lg" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.U_Password, "", new { @class = "text-bold input-lg", style = "color:aliceblue" })
                </div>
            </div>

            <!-- checkbox -->
            <div class="wthree-text">
                <ul>
                    <li>
                        <a href="#">آیا رمز خود را فراموش کرده اید؟</a>
                    </li>
                </ul>
            </div>

            <!-- //checkbox -->
            <input class="btn btn-primary btn-block btn-success" type="submit" value="ورود">
            @if (ViewBag.NotFound != null)
            {
            <h3 style="color:aliceblue">
                @ViewBag.NotFound
            </h3>
                ViewBag.NotFound = null;
            }
            else
            {
                ViewBag.NotFound = null;
            }

            @*<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg btn-block btn-flat">ورود</a>
                <input href="@Url.Action("Index", "Home")" class="btn btn-primary btn-block btn-flat btn-success" type="submit" value="ورود">*@
        </form>
    }
</div>
<!-- //content -->
