@*@using AdminLTE9.Models;*@
@*@model Tuple<AdminLTE9.Models.Passenger, AdminLTE9.Models.Airplane, AdminLTE9.Models.Flight>*@
@*@model AdminLTE9.Models.Passenger*@
@model AdminLTE9.Models.PassAirFlight

@{
    ViewBag.Title = "افزودن کاربر";
    Layout = "~/Views/Shared/Home/AddPassengerToFlight/_AddPassengerToFlightLayout.cshtml";
}

<!--Help Box-->
<div class="col-md-12" style="padding-top: 20px;">
    <div class="box box-success collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">.در صورت نیاز به راهنمایی بر روی علامت  +  کلیک کنید و طبق توضیحات فیلد های مورد نیاز را تکمیل نمایید</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            The body of the box
        </div>
    </div>
</div>



<!--/Help Box-->
<!-- Horizontal Form -->
<div class="col-xd-12 col-md-12" style="padding-bottom: 20px;">
    <div class="col-md-2">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">اطلاعات پرواز</h3>
            </div>

            <div class="box-body" style="font-size:large">
                @ViewBag.Origin :مبدا پرواز
                <br />
                @ViewBag.Destination :مقصد پرواز
                <br />
                تاریخ پرواز: @ViewBag.Date
                <br />
                ساعت پرواز: @ViewBag.Time


            </div>
        </div>
        <!--alignment correction-->
    </div>
    <div class="col-md-8">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">اطلاعات پرواز انتخاب شده</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>:مبدا پرواز</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                @Html.TextBoxFor(m => m.Flight.F_Origin, new { @readonly = true, Value = ViewBag.Origin, @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Flight.F_Origin)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>: نام خانوادگی</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                <input type="text" class="form-control" placeholder="" />
                                @Html.ValidationMessageFor(m => m.Passenger.P_LastName)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>: نام پدر</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="" />
                                @Html.ValidationMessageFor(m => m.Passenger.P_FatherName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>: کد ملی</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="number" class="form-control" placeholder="" />
                                @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>: جنسیت</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-venus-mars"></i>
                                </div>
                                <select class="form-control">
                                    <option>مرد</option>
                                    <option>زن</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.Passenger.P_Sexuality)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-sm-10">
                            <h4>: سن</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="number" class="form-control" placeholder="" />
                                @Html.ValidationMessageFor(m => m.Passenger.P_Age)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->

            <div class="box-footer">

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">بملغ بلیط</h3>
            </div>

            <div class="box-body" style="font-size:large">
                مبلغ بلیط بزرگسال:@ViewBag.AdultPrice تومان
                <br />
                مبلغ بلیط کودک: @ViewBag.KidPrice تومان
                <br />
                مبلغ بلیط نوزاد: @ViewBag.LarvaPrice تومان
            </div>
        </div>
    </div>

</div>









@using (Html.BeginForm("SaveAndSendEmail", "Home", FormMethod.Post))
{
    <form class="form-horizontal">

        @for (int i = 1; i < ViewBag.AdultNumber + 1; i++)
        {
            <!-- Horizontal Form -->
            <div class="col-xd-12 col-md-12">
                <div class="col-md-2">
                    <!--alignment correction-->
                </div>
                <div class="col-md-8">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">فرد بزرگسال شماره @i</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: نام</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </div>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            <input type="text" class="form-control" name="@string.Format("{0}{1}", "FirstNameAdult", i)" id="@string.Format("{0}{1}", "FirstNameAdult", i)" placeholder="" />
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FirstName)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: نام خانوادگی</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </div>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            <input type="text" class="form-control" name="@string.Format("{0}{1}", "LastNameAdult", i)" id="@string.Format("{0}{1}", "LastNameAdult", i)" placeholder="" />
                                            @Html.ValidationMessageFor(m => m.Passenger.P_LastName)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: نام پدر</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </div>
                                            <input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameAdult", i)" id="@string.Format("{0}{1}", "FatherNameAdult", i)" placeholder="" />
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FatherName)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: کد ملی</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </div>
                                            <input type="number" class="form-control" name="@string.Format("{0}{1}", "IdentityCodeAdult", i)" id="@string.Format("{0}{1}", "IdentityCodeAdult", i)" placeholder="" />
                                            @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: جنسیت</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-venus-mars"></i>
                                            </div>
                                            <select class="form-control" name="@string.Format("{0}{1}", "SexualityAdult", i)" style="font-size:larger;" id="@string.Format("{0}{1}", "SexualityAdult", i)">
                                                <option>مرد</option>
                                                <option>زن</option>
                                            </select>
                                            @Html.ValidationMessageFor(m => m.Passenger.P_Sexuality)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-sm-10">
                                        <h4>: سن</h4>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-font"></i>
                                            </div>
                                            <input type="number" class="form-control" name="@string.Format("{0}{1}", "AgeAdult", i)" id="@string.Format("{0}{1}", "AgeAdult", i)" placeholder="" />
                                            @Html.ValidationMessageFor(m => m.Passenger.P_Age)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box-footer -->

                        <div class="box-footer">

                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>

            </div>
        }

        @for (int i = 1; i < ViewBag.KidNumber + 1; i++)
        {
            <!-- Horizontal Form -->
            <div class="col-xd-12 col-md-12">
                <div class="col-md-2">
                    <!--alignment correction-->
                </div>
                <div class="col-md-8">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">فرد کودک شماره 1</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام</h4>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            @Html.TextBoxFor(m => m.Passenger.P_FirstName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FirstName)
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام خانوادگی</h4>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            @Html.TextBoxFor(m => m.Passenger.P_LastName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_LastName)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام پدر</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_FatherName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FatherName)
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: کد ملی</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_IdentityCode, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: جنسیت</h4>
                                            @Html.DropDownListFor(m => m.Passenger.P_Sexuality, new List<SelectListItem> { new SelectListItem { Value = "مرد", Text = "مرد" }, new SelectListItem { Value = "زن", Text = "زن" } }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: سن</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_Age, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_Age)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                @*<div style="padding-left:350px; padding-right:350px">
                                        <input class="btn btn-primary btn-block btn-success btn-lg" type="submit" value="جستجوی پرواز" style="width:300px;">
                                    </div>*@
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
                <div class="col-md-2">

                </div>

            </div>
        }


        @for (int i = 1; i < ViewBag.LarvaNumber + 1; i++)
        {
            <!-- Horizontal Form -->
            <div class="col-xd-12 col-md-12">
                <div class="col-md-2">
                    <!--alignment correction-->
                </div>
                <div class="col-md-8">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">فرد نوزاد شماره 1</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام</h4>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            @Html.TextBoxFor(m => m.Passenger.P_FirstName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FirstName)
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام خانوادگی</h4>
                                            @*<input type="text" class="form-control" id="Origin" placeholder="ViewBag.Origin" readonly>*@
                                            @Html.TextBoxFor(m => m.Passenger.P_LastName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_LastName)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: نام پدر</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_FatherName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_FatherName)
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: کد ملی</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_IdentityCode, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: جنسیت</h4>
                                            @Html.DropDownListFor(m => m.Passenger.P_Sexuality, new List<SelectListItem> { new SelectListItem { Value = "مرد", Text = "مرد" }, new SelectListItem { Value = "زن", Text = "زن" } }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-sm-10">
                                            <h4>: سن</h4>
                                            @Html.TextBoxFor(m => m.Passenger.P_Age, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Passenger.P_Age)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                @*<div style="padding-left:350px; padding-right:350px">
                                        <input class="btn btn-primary btn-block btn-success btn-lg" type="submit" value="جستجوی پرواز" style="width:300px;">
                                    </div>*@
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
                <div class="col-md-2">

                </div>

            </div>
        }

        <div style="padding-left:350px; padding-right:350px">
            <input class="btn btn-primary btn-block btn-success btn-lg" type="submit" value="جستجوی پرواز" style="width:300px;">
        </div>

    </form>

}






































<div style="padding-top:100px; padding-bottom:350px;">
    <div class="nav-tabs" style="background-color: rgb(255, 255, 255); width:1000px; height:500px; margin:0 auto;">
        <ul class="nav nav-tabs">
            @for (int i = 1; i < ViewBag.AdultNumber + 1; i++)
            {
                if (i == 1)
                {
                    <li class="active"><a href="#Adult_@i" data-toggle="tab">بزرگسال @i</a></li>
                }
                else
                {
                    <li><a href="#Adult_@i" data-toggle="tab">بزرگسال @i</a></li>
                }
            }
            @for (int i = 1; i < ViewBag.KidNumber + 1; i++)
            {
                <li><a href="#Kid_@i" data-toggle="tab">کودک @i</a></li>
            }
            @for (int i = 1; i < ViewBag.LarvaNumber + 1; i++)
            {
                <li><a href="#Larva_@i" data-toggle="tab">نوزاد @i</a></li>
            }
            <li><a href="#finish" data-toggle="tab">ثبت اطلاعات و ادامه</a></li>
        </ul>
        <div class="tab-content">
            @for (int i = 1; i < ViewBag.AdultNumber + 1; i++)
            {
                if (i == 1)
                {
                    <div class="tab-pane wrapper" style="background-color: rgb(255, 255, 255);" active id="Adult_@i">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>مبدا پرواز</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @*<input type="text" class="form-control" placeholder="@ViewBag.Origin" disabled>*@
                                    @Html.TextBoxFor(m => m.Flight.F_Origin, new { @readonly = true, Value = ViewBag.Origin, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Flight.F_Origin)
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>مقصد پرواز</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Flight.F_Destination, new { @readonly = true, Value = ViewBag.Destination, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Flight.F_Destination)
                                    @*<input type="text" class="form-control" placeholder="@ViewBag.Destination" disabled>*@
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>تاریخ و ساعت پرواز</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Flight.F_Date, new { @readonly = true, Value = ViewBag.Date, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Flight.F_Date)
                                    @*<input type="text" class="form-control" placeholder="@ViewBag.Date - @ViewBag.Time" disabled>*@
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>کلاس پذیرایی</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Flight.F_Class, new { @readonly = true, Value = ViewBag.FlightClass, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Flight.F_Class)
                                    @*<input type="text" class="form-control" placeholder="@ViewBag.FlightClass" disabled>*@
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>: نام</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Passenger.P_FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Passenger.P_FirstName)
                                    @*<input type="text" class="form-control" name="@string.Format("{0}{1}", "FirstNameAdult", i)" id="@string.Format("{0}{1}", "FirstNameAdult", i)" placeholder="" />*@
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: نام خانوادگی</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Passenger.P_LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Passenger.P_LastName)
                                    @*<input type="text" class="form-control" name="@string.Format("{0}{1}", "LastNameAdult", i)" id="@string.Format("{0}{1}", "LastNameAdult", i)" placeholder="" />*@
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>: نام پدر</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Passenger.P_FatherName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Passenger.P_FatherName)
                                    @*<input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameAdult", i)" id="@string.Format("{0}{1}", "FatherNameAdult", i)" placeholder="" />*@
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: نام پدر</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Passenger.P_IdentityCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                                    @*<input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameAdult", i)" id="@string.Format("{0}{1}", "FatherNameAdult", i)" placeholder="" />*@
                                </div>
                            </div>
                            @*<div class="form-group col-xs-6">
                                    <h4>: کد ملی</h4>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Passenger.P_IdentityCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Passenger.P_IdentityCode)
                                        <input type="text" class="form-control" name="@string.Format("{0}{1}", "IdentityCodeAdult", i)" id="@string.Format("{0}{1}", "IdentityCodeAdult", i)" placeholder="" />
                                    </div>
                                </div>*@
                        </div>

                        <div class="form-group col-xs-12">

                            <div class="form-group col-xs-6">
                                <h4>: جنسیت</h4>
                                @*@Html.DropDownListFor(m => m.Item1.P_Sexuality, new SelectList( new List<Object>{new { value = "مرد" , text = "مرد"  },new { value = "زن" , text = "زن" }},"value","text",Model.Item4), new { @class = "form-control", @style = "font-size:small;" })*@
                                <select class="form-control" name="@string.Format("{0}{1}", "SexualityAdult", i)" style="font-size:small;" id="@string.Format("{0}{1}", "SexualityAdult", i)">
                                    <option>---انتخاب کنید---</option>
                                    <option>مرد</option>
                                    <option>زن</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: سن</h4>
                                @Html.TextBoxFor(m => m.Passenger.P_Age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Passenger.P_Age)
                                @*<input type="number" class="form-control" name="@string.Format("{0}{1}", "AgeAdult", i)" id="@string.Format("{0}{1}", "AgeAdult", i)" placeholder="" />*@
                            </div>
                        </div>
                        @*<div class="form-group col-xs-12">
                                <div class="form-group col-xs-6">
                                    <h4>: شماره تماس</h4>
                                    <input type="text" class="form-control" name="@string.Format("{0}{1}", "SexualityAdult", i)" id="PhoneNumberAdult@i" placeholder="" data-bind="value:replyNumber" />
                                </div>
                                <div class="form-group col-xs-6">
                                    <h4>: آدرس</h4>
                                    <input type="text" class="form-control" name="AdderessAdult@i" id="AdderessAdult@i" placeholder="" />
                                </div>
                            </div>*@
                        <div class="form-group col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>: ایمیل</h4>
                                <input type="email" class="form-control" name="EmailAdult1" id="EmailAdult1" placeholder="somename@somemail.com" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane wrapper" style="background-color: rgb(255, 255, 255);" id="Adult_@i">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>مبدا پرواز</h4>
                                <input type="text" class="form-control" placeholder="@ViewBag.Origin" disabled>
                            </div>

                            <div class="form-group col-xs-6">
                                <h4>مقصد پرواز</h4>
                                <input type="text" class="form-control" placeholder="@ViewBag.Destination" disabled>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>تاریخ و ساعت پرواز</h4>
                                <input type="text" class="form-control" placeholder="@ViewBag.Date - @ViewBag.Time" disabled>
                            </div>

                            <div class="form-group col-xs-6">
                                <h4>کلاس پذیرایی</h4>
                                <input type="text" class="form-control" placeholder="@ViewBag.FlightClass" disabled>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>: نام</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    <input type="text" class="form-control" name="@string.Format("{0}{1}", "FirstNameAdult", i)" id="@string.Format("{0}{1}", "FirstNameAdult", i)" placeholder="" />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: نام خانوادگی</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    <input type="text" class="form-control" name="@string.Format("{0}{1}", "LastNameAdult", i)" id="@string.Format("{0}{1}", "LastNameAdult", i)" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <div class="form-group col-xs-6">
                                <h4>: نام پدر</h4>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-font"></i>
                                    </div>
                                    <input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameAdult", i)" id="@string.Format("{0}{1}", "FatherNameAdult", i)" placeholder="" />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: کد ملی</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="@string.Format("{0}{1}", "IdentityCodeAdult", i)" id="@string.Format("{0}{1}", "IdentityCodeAdult", i)" placeholder="" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12">

                            <div class="form-group col-xs-6">
                                <h4>: جنسیت</h4>
                                <select class="form-control" name="@string.Format("{0}{1}", "SexualityAdult", i)" style="font-size:small;" id="@string.Format("{0}{1}", "SexualityAdult", i)">
                                    <option>---انتخاب کنید---</option>
                                    <option>مرد</option>
                                    <option>زن</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <h4>: سن</h4>
                                <input type="number" class="form-control" name="@string.Format("{0}{1}", "AgeAdult", i)" id="@string.Format("{0}{1}", "AgeAdult", i)" placeholder="" />
                            </div>
                        </div>
                    </div>
                }

            }
            @for (int i = 1; i < ViewBag.KidNumber + 1; i++)
            {
                <div class="tab-pane wrapper" style="background-color: rgb(255, 255, 255);" id="Kid_@i">
                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>مبدا پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Origin" disabled>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>مقصد پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Destination" disabled>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>تاریخ و ساعت پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Date - @ViewBag.Time" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                            <h4>کلاس پذیرایی</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.FlightClass" disabled>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>: نام</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "FirstNameKid", i)" id="@string.Format("{0}{1}", "FirstNameKid", i)" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: نام خانوادگی</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "LastNameKid", i)" id="@string.Format("{0}{1}", "LastNameKid", i)" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>: نام پدر</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameKid", i)" id="@string.Format("{0}{1}", "FatherNameKid", i)" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: کد ملی</h4>
                            <div class="input-group">
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "IdentityCodeKid", i)" id="@string.Format("{0}{1}", "IdentityCodeKid", i)" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">

                        <div class="form-group col-xs-6">
                            <h4>: جنسیت</h4>
                            <select class="form-control" name="@string.Format("{0}{1}", "SexualityKid", i)" style="font-size:small;" id="@string.Format("{0}{1}", "SexualityKid", i)">
                                <option>---انتخاب کنید---</option>
                                <option>مرد</option>
                                <option>زن</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: سن</h4>
                            <input type="number" class="form-control" name="@string.Format("{0}{1}", "AgeKid", i)" id="@string.Format("{0}{1}", "AgeKid", i)" placeholder="" />
                        </div>
                    </div>
                </div>
            }

            @for (int i = 1; i < ViewBag.LarvaNumber + 1; i++)
            {
                <div class="tab-pane wrapper" style="background-color: rgb(255, 255, 255);" id="Larva_@i">
                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>مبدا پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Origin" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                            <h4>مقصد پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Destination" disabled>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>تاریخ و ساعت پرواز</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.Date - @ViewBag.Time" disabled>
                        </div>

                        <div class="form-group col-xs-6">
                            <h4>کلاس پذیرایی</h4>
                            <input type="text" class="form-control" placeholder="@ViewBag.FlightClass" disabled>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>: نام</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "FirstNameLarva", i)" id="@string.Format("{0}{1}", "FirstNameLarva", i)" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: نام خانوادگی</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "LastNameLarva", i)" id="@string.Format("{0}{1}", "LastNameLarva", i)" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <div class="form-group col-xs-6">
                            <h4>: نام پدر</h4>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-font"></i>
                                </div>
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "FatherNameLarva", i)" id="@string.Format("{0}{1}", "FatherNameLarva", i)" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: کد ملی</h4>
                            <div class="input-group">
                                <input type="text" class="form-control" name="@string.Format("{0}{1}", "IdentityCodeLarva", i)" id="@string.Format("{0}{1}", "IdentityCodeLarva", i)" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">

                        <div class="form-group col-xs-6">
                            <h4>: جنسیت</h4>
                            <select class="form-control" name="@string.Format("{0}{1}", "SexualityLarva", i)" style="font-size:small;" id="@string.Format("{0}{1}", "SexualityLarva", i)">
                                <option>---انتخاب کنید---</option>
                                <option>مرد</option>
                                <option>زن</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6">
                            <h4>: سن</h4>
                            <input type="number" class="form-control" name="@string.Format("{0}{1}", "AgeLarva", i)" id="@string.Format("{0}{1}", "AgeLarva", i)" placeholder="" />
                        </div>
                    </div>
                </div>
            }
            <div class="tab-pane wrapper" style="background-color: rgb(255, 255, 255);" id="finish">
                <div class="content">
                    <h4>لطفا پس از اطمینان از صحت اطلاعات وارد شده بر روی گزینه انتقال به صفحه پرداخت کلیک کنید</h4>

                    @if (ViewBag.AdultNumber != 0)
                    {
                        <h3> مبلغ بلیط بزرگ سال : @ViewBag.AdultPrice تومان</h3>
                    }

                    @if (ViewBag.KidNumber != 0)
                    {
                        <h3> مبلغ بلیط کودک : @ViewBag.KidPrice تومان</h3>
                    }
                    @if (ViewBag.LarvaNumber != 0)
                    {
                        <h3> مبلغ بلیط نوزاد : @ViewBag.LarvaPrice تومان</h3>
                    }
                    <h3>مبلغ قابل پرداخت : @ViewBag.SumPrice تومان</h3>


                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th>
                                    کل مبلغ قابل پرداخت
                                </th>
                                <th>
                                    مبلغ بلیط نوزاد
                                </th>
                                <th>
                                    مبلغ بلیط کودک
                                </th>
                                <th>
                                    مبلغ بلیط بزرگسال
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @ViewBag.SumPrice
                                </td>
                                <td>
                                    @ViewBag.LarvaPrice
                                </td>
                                <td>
                                    @ViewBag.KidPrice
                                </td>
                                <td>
                                    @ViewBag.AdultPrice
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <input class="btn btn-primary btn-block btn-success btn-lg" type="submit" value="انتقال به صفحه پرداخت" style="width:300px;">
                </div>
            </div>
        </div>
    </div>
</div>

