@{
    ViewBag.Title = "Flights";
    Layout = "~/Views/Shared/Home/SearchFlights/_SearchFlightsLayout.cshtml";
}

<style>
    .newst {
        min-height: 100%;
        /*#ecf0f5;*/
        background-color: dimgray;
        /*background: url(../img/airplane-in-the-sunset.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;*/
        z-index: 800;
    }
</style>
@if (ViewBag.SearchedFlights != null)
{
        <div class="row" style="padding-top:50px;">
            <div class="col-xd-12 col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">پرواز های مطابق با جستجو</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        ظرفیت باقی مانده پرواز
                                    </th>
                                    <th>
                                        مبلغ بلیط نوزاد
                                    </th>
                                    <th>
                                        مبلغ بلیط کودک
                                    </th>
                                    <th>
                                        مبلغ بلیط بزرگسال
                                    </th>
                                    <th>
                                        کلاس پذیرایی
                                    </th>
                                    <th>
                                        تاریخ پرواز
                                    </th>
                                    <th>
                                        مقصد
                                    </th>
                                    <th>
                                        مبدا
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.SearchedFlights)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink("انتخاب", "AddPassengerToFlight", new { id = item.F_ID, adult = ViewBag.AdultNumber, kid = ViewBag.KidNumber, larva = ViewBag.LarvaNumber}) | 
                                            @Html.ActionLink("انتخاب پرواز", "Users", "Edit", new { id = item.F_ID })
                                        </td>
                                        <td>
                                            @item.F_Capacity
                                        </td>
                                        <td>
                                            @item.F_LarvaPrice
                                        </td>
                                        <td>
                                            @item.F_KidPrice
                                        </td>
                                        <td>
                                            @item.F_AdultPrice
                                        </td>
                                        <td>
                                            @item.F_Class
                                        </td>
                                        <td>
                                            @item.F_Date
                                        </td>
                                        <td>
                                            @item.F_Destination
                                        </td>
                                        <td>
                                            @item.F_Origin
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
}