@model AdminLTE9.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.U_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_IsAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.U_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
